{% extends 'products/layout.html' %}

{%block content %}
    <h1>Product Information</h1>
    <div class="cards" style="display: flex; justify-content: center;">
        <div class="card" style="width: 50rem;" >
          <img src="https://cdn11.bigcommerce.com/s-iukl88uj22/product_images/uploaded_images/artical-img2.jpg" class="card-img-top" width="800px" height="300">
          <div class="card-body">
            <h5 class="card-title">Throw Pillows</h5>
            <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <a href="http://127.0.0.1:8000/homedecor/" class="btn btn-primary">Interested</a>
          </div>
{%endblock content%}